*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image:url("https://img.wallpapersafari.com/desktop/1600/900/0/51/eFuv1h.jpg");
   background-repeat: no-repeat;
    background-position: right;
}
.navbar {
    background-color:rgb(214, 226, 43);
   position: fixed;
    width:100%;

}
.navbar ul{ 
    list-style-type: none;
    padding: 5px;
    margin: 0%;
   display: inline; 
}
.navbar ul li{
    float:left;
}
.navbar ul li{
   display:inline-block;
}
.navbar ul li a{
    color: rgb(100, 100, 100);
    text-align:center ;
    padding: 10px;
    text-decoration: none;
    display: inline-block ;
}
.navbar ul li a:hover{
    color: white;
    background-color: black;

}
.container{
    width: 400px;
    height:500px;
    padding: 100px;
    border: 2px;
    margin: auto;
    background-attachment:fixed;
   float:center;
}
.style{
    
    text-size-adjust:30px;
    font-size: xx-large;
    
}
.style3{
   border-radius: 5%;
   height:25px;
   width: 50px;
   
}
.style2{
    color: aquamarine;
    background-color: black;
}
.style4{
    border-radius: 5%;
    height: 25px;
    width: 165px;
}
